
/common/temp/

node_modules/
lib/
off/
dist/
coverage/
.nyc_output/
temp/

package-deps.json

.DS_Store
yarn.lock
yarn-error.log
lerna-debug.log

*.build.log
*.build.error.log
phensley-cldr*.tgz

/*/**/.vscode/

